# O arquivo requirements.txt lista todas as dependências necessárias para o aplicativo.
# Ele permite instalar facilmente os pacotes requeridos usando o comando 'pip install -r requirements.txt'.

pandas
numpy
scikit-learn
joblib
sqlalchemy
uvicorn
fastapi
web3==6.11.0
psycopg2-binary
python-dotenv