# O arquivo requirements.txt lista todas as dependências necessárias para o aplicativo.
# Ele permite instalar facilmente os pacotes requeridos usando o comando 'pip install -r requirements.txt'.

pandas
numpy
scikit-learn
joblib
uvicorn
fastapi
sqlalchemy
web3==6.11.0
psycopg2-binary
python-dotenv
requests
py-solc-x==1.1.1
eth-account>=0.8.0